<div class="container">
  <div class="col">
    <a [routerLink]="'/basket'">Show basket</a>
  </div>
  <div class="col">
    <div class="card">
      <ul>
        <li>Title: {{selectedBook.title}}</li>
        <li>
          <ul>Authors:
            <li *ngFor="let author of selectedBook.authors">
              {{author}}
            </li>
          </ul>
        </li>
        <li>Description: {{selectedBook.description}}</li>
        <li><img [src]=selectedBook.imageLink alt="selected book's cover"></li>
      </ul>
      <button (click)="addToBasketEventHandler()" type="button" class="btn btn-secondary">Add to basket</button>
    </div>
  </div>
  <div class="col"></div>
</div>
