<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="input-group mb-3">
        <form>
          <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username">
          <input type="text" class="form-control" placeholder="Password" aria-label="Recipient's password">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="loginEventHandler()">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
