<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <input #searchParamTitle searchParamTitle.value="" type="text" class="form-control" placeholder="Search by title">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="getBookResultByTitle(searchParamTitle.value)">Search</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input #searchParamAuthor searchParamAuthor.value="" type="text" class="form-control" placeholder="Search by author">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="getBookResultByAuthor(searchParamAuthor.value)">Search</button>
                </div>
            </div>
        </div>
        <ng-container *ngIf="searchResult; then bookList"></ng-container>
    </div>
</div>

<ng-template #bookList>
    <div class="col-1"></div>
    <div class="col-10">
        <div *ngFor="let book of searchResult">
            <div class="card book-card">
                <h5 class="book-title" (click)="bookDetailsEventHandler(book)">{{book.title}}</h5>
                <span>
                    <span *ngFor="let author of book.authors">
                        <ul>
                            <li class="book-author">{{author}}</li>
                        </ul>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</ng-template>
